<script type="text/template" id="create-conflict-template">
    <form id="create-conflict-form" enctype="multipart/form-data">
        <input type="file" name="conflicted_file" id="conflicted-file" />
        <textarea></textarea>

        <div id="submit-box">
            <div class="continue-bubble">
                Nice! Not bad lookin' code.

                <a href="#" class="submit">Continue</a>
                <div class="tip"></div>
            </div>
        </div>
    </form>
</script>
