<script type="text/template" id="diff-template">
    <div class="row-fluid">
        <div class="span12">
            <% if (active_diff_index > 0){ %>
                <a class="previous" href="/diffs/<%=parseInt(active_diff_index) - 1%>">Previous</a>
            <% } %>
        </div>
    </div>
    <div class="row-fluid">
        <div class="diff">
            <div class="span5">
                <div id="left" class="source">
                    <% diff = active_diff.get('left'); %>

                    <div class="bubble-container span5">
                        <div class="select-diff-bubble">
                            <%=diff.get('branch')%>
                            <p class="small">This is your local committed version</p>
                            <a href="#" class="submit use-left">Select</a>
                            <div class="tip"></div>
                        </div>
                    </div>

                    <div class="code-wrap">
                        <pre class="brush: <%=conflict.get('language')%>; first-line: <%=diff.get('line_num')%>"><%=diff.get('content')%></pre>
                    </div>
                </div>
            </div>
            <div class="span2">
                <div class="mergemap minimap" id="minimap"></div>
            </div>
            <div class="span5">
                <div id="right" class="source">
                    <% diff = active_diff.get('right'); %>

                    <div class="bubble-container span5">
                        <div class="select-diff-bubble hang-left">
                            <%=diff.get('branch')%>
                            <p class="small">This is the merge that is conflicting</p>
                            <a href="#" class="submit use-right">Select</a>
                            <div class="tip"></div>
                        </div>
                    </div>

                    <div class="code-wrap">
                        <pre class="brush: <%=conflict.get('language')%>; first-line: <%=diff.get('line_num')%>"><%=diff.get('content')%></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="resolved-merge-template">
    <div id="resolved">
        <div class="click-to-copy-bubble">
            Your file has been successfully un-conflicted!
            <a href="#" id="click-to-copy" class="submit">Click to Copy</a>
            <div class="tip"></div>
        </div>
        <pre id="resolved-content" class="brush: <%=conflict.get('language')%>"><%=merged_output%></pre>
        <textarea style="display:none;" id="template-for-copy"><%=merged_output%></textarea>
    </div>
</script>
