<script type="text/template" id="diff-template">
    <div class="row-fluid">
        <div class="span12">
            <% if (active_diff_index > 0){ %>
                <a class="previous" href="/diffs/<%=parseInt(active_diff_index) - 1%>">Previous</a>
            <% } %>
        </div>
    </div>
    <div class="row-fluid">
        <div class="diff">
            <div class="span6">
                <div id="left" class="source">
                    <% diff = active_diff.get('left'); %>

                    <div class="select-diff-bubble">
                        <a href="#" class="use-left">Select <%=diff.get('branch')%></a>
                        <div class="tip"></div>
                    </div>

                    <div class="code-wrap">
                        <pre class="brush: xml; first-line: <%=diff.get('line_num')%>"><%=diff.get('content')%></pre>
                    </div>
                </div>
            </div>
            <div class="span6">
                <div id="right" class="source">
                    <% diff = active_diff.get('right'); %>

                    <div class="select-diff-bubble">
                        <a href="#" class="use-right">Select <%=diff.get('branch')%></a>
                        <div class="tip"></div>
                    </div>

                    <div class="code-wrap">
                        <pre class="brush: xml; first-line: <%=diff.get('line_num')%>"><%=diff.get('content')%></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="resolved-merge-template">
    <div id="resolved">
        <div class="click-to-copy-bubble">
            <a href="#" id="click-to-copy">Click to Copy</a>
            <div class="tip"></div>
        </div>
        <pre id="resolved-content" class="brush: xml"><%=merged_output%></pre>
        <div style="display:none;" id="template-for-copy"><%=merged_output%></div>
    </div>
</script>
