@import "bootstrap.less";
@import "shCore.less";
@import "shThemeRDark.less";

body{
    padding:30px 60px;
    font-family: 'Oswald', sans-serif;
    font-weight:300;
    background-color:#f8f8f8;
}

.bubble(@color:#00cc3e){
    background-color:@color;
    color:#fff;
    padding:18px 12px 0;
    font-size:22px;
    width:136px;
    text-align:center;
    margin:15px;
    word-wrap:break-word;
    line-height:28px;

    a{
        color:inherit;
    }

    .tip{
        position:relative;
        bottom:-20px;
        width: 0;
        height: 0;
        border-left: 26px solid transparent;
        border-right: 14px solid transparent;
        border-top: 20px solid @color;
        left:50%;
    }
}

.diff{
    .source{
        .code-wrap{
            overflow-x:auto;
        }
    }

    .select-diff-bubble{
        .bubble(#1b3944);
        margin-left:14%;
        top:72px;
        position:fixed;
        z-index:10;
        width:300px;

        a{
            color:#fff;
        }
    }

    .select-diff-side{
        display:inline-block;
        background-color:#1b3944;
        padding:6px 18px;
        color:#fff;
        margin:15px;
        font-size:18px;
    }
}

#header{
    text-transform:uppercase;
    font-size:40px;
    line-height:normal;
    width:100%;

    h1{
        font-weight:normal;
        color:#e5e5e5;

        a, a:hover, a:visited{
            color:inherit;
        }
    }
}

#content{
    position:relative;
    padding-bottom:30px;
}

#create-conflict-form{
    textarea{
        position:relative;
        top:0;
        left:0;
        z-index:2;
        background-color:#222;
        color:#fff;
        min-height:420px;
        width:99%;
        margin-bottom:30px;
    }

    input[type="file"]{
        border:1px solid #d8d8d8;
        background-color:#fff;
        padding:2px 8px;
        margin:10px 0 20px;
    }
}

#submit-box{
    position:fixed;
    z-index:20;
    top:152px;
    right:35px;

    .continue-bubble{
        .bubble(#00cc3e);
        float:right;
        text-align:left;
        padding:5px 10px 0;
        background-color:#1570a6;

        .tip{
            float:right;
            bottom:-10px;
            border-right-width:10px;
            border-top-width:10px;
            border-top-color:#222;
            border-left-width:0;
            margin-right:-10px;
            left:0;
        }
    }

    .submit{
        padding:2px 18px;
        color:#fff;
        margin:10px 0 0;
        font-size:18px;
        display:block;
        text-align:center;
        background-color:#22bb54;
        border:1px solid #36da6b;
    }
}

.syntaxhighlighter{
    height:450px;
    cursor:pointer;
}

#left{
    @bgcolor:#1b3944;

    .syntaxhighlighter {
      background-color: @bgcolor !important;
    }
    .syntaxhighlighter .line.alt1 {
      background-color: @bgcolor !important;
    }
    .syntaxhighlighter .line.alt2 {
      background-color: @bgcolor !important;
    }
    .syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
      //background-color: #323e41 !important;
    }
}

#right{
    @bgcolor:#222;

    .syntaxhighlighter {
      background-color: @bgcolor !important;
    }
    .syntaxhighlighter .line.alt1 {
      background-color: @bgcolor !important;
    }
    .syntaxhighlighter .line.alt2 {
      background-color: @bgcolor !important;
    }
    .syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
      //background-color: #323e41 !important;
    }

    .select-diff-bubble{
        background-color:#222;

        .tip{
            border-top-color:#222;
        }
    }
}

#resolved{
    .click-to-copy-bubble{
        .bubble;
        position:fixed;
        z-index:10;
        top:90px;
        right:35px;
        text-align:left;
        padding:5px 10px;
        background-color:#1570a6;

        .tip{
            float:right;
            bottom:-15px;
            border-right-width:10px;
            border-top-width:10px;
            border-top-color:#222;
            border-left-width:0;
            margin-right:-10px;
            left:0;
        }

        .submit{
            padding:2px 18px;
            color:#fff;
            margin:10px 0 0;
            font-size:18px;
            display:block;
            text-align:center;
            background-color:#22bb54;
            border:1px solid #36da6b;
        }
    }
}

#language-select{
    position:relative;
    top:66px;
    z-index:20;

    .btn, a{
        border-color:#d8d8d8;
        color:#d8d8d8;
        font-family:inherit;
        text-transform:uppercase;
        background:none;
        background-color:#fff;
        font-size:17px;
    }

    a:hover{
        background-color:#fafafa;
        color:darken(#d8d8d8, 10%);
    }

    span.arrow-down{
        position:relative;
        top:17px;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid #d8d8d8;
    }

    .btn-group > .btn:first-child{
        width:240px;
    }

    .dropdown-menu{
        padding:0;

        a{
            padding:4px 14px;
            width:210px;
        }
    }
}

.tooltip{
    font-size:24px;
    line-height:28px;

    .tooltip-inner{
        background-color:#22BB54;
    }

    &.right{
        .tooltip-arrow{
            border-right-color:#22BB54;
        }
    }

    &.error{
        .tooltip-inner{
            background-color:#ff0000;
        }

        &.right{
            .tooltip-arrow{
                border-right-color:#ff0000;
            }
        }
    }
}
